body {
    background:rgb(255, 227, 190);
    color:  black;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
padding: 20px;
height: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.container {
margin: 0 auto;
max-width: 800px;
text-align: center;
}
table {
border-collapse: collapse;
width: 100%;
}
th, td {
border: 1px solid black;
padding: 8px;
text-align: left;
}
th {
background-color: #ddd;
}
td {
background-color: white;
}